<%- include('partials/header.ejs') %>


  <section class="card">
      <ul>
        <% locals.itemList  && itemList.forEach((item, id) => { %>
        <li  id=<%= `item${id}` %>> 
            <input id=<%= id %> type="checkbox" onclick="check(this.id)" name=<%= item %> >
            <label for="<%= id %>"><%= item %></label>
         </li>
        <% }) %>

      </ul>
    <form method="post" action="/addItem">
      <label for="work-add-felid">Add New Item</label>
      <input type="text" name="work-add-felid" id="work-add-felid" autofocus placeholder="New Item">
      <button type="submit" class="submit-button">ADD</button>
    </form>
  </section>

  <script type="text/javascript" src="/main.js"></script>


  <%- include('partials/footer.ejs') %>